openapi: 3.2.0
info:
  title: Opkit Payers API
  description: REST API for Opkit, an automated health insurance verification platform for telehealth companies and virtual medical practices.
  contact:
    name: Opkit
    url: https://www.opkit.co
  version: '1.0'
servers:
- url: https://api.opkit.co/v1
  description: Opkit API v1 production base URL (host no longer resolving as of catalog date).
security:
- bearerAuth: []
tags:
- name: Payers
  description: Look up insurance carriers (payers) Opkit connects to.
paths:
  /payers:
    get:
      operationId: listPayers
      tags:
      - Payers
      summary: List payers
      description: Returns the list of insurance carriers (payers) Opkit connects to, with optional search.
      parameters:
      - name: query
        in: query
        description: Free-text search to match payers by name.
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/StartingAfter'
      responses:
        '200':
          description: A list of payers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayerList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /payers/{id}:
    get:
      operationId: getPayer
      tags:
      - Payers
      summary: Retrieve a payer
      description: Retrieves a single payer by its identifier.
      parameters:
      - $ref: '#/components/parameters/PathId'
      responses:
        '200':
          description: The requested payer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    StartingAfter:
      name: starting_after
      in: query
      required: false
      description: Cursor for pagination; the id of the last object on the previous page.
      schema:
        type: string
    Limit:
      name: limit
      in: query
      required: false
      description: Maximum number of records to return per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    PathId:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource.
      schema:
        type: string
  schemas:
    PayerList:
      type: object
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Payer'
        has_more:
          type: boolean
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            type:
              type: string
              description: A machine-readable error type.
            message:
              type: string
              description: A human-readable description of the error.
    Payer:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          example: payer
        name:
          type: string
          description: The display name of the insurance carrier.
  responses:
    Unauthorized:
      description: Authentication failed or the API key is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Provide your Opkit API key as a Bearer token in the Authorization header: `Authorization: Bearer YOUR_API_KEY`.'
